<%- include('../partials/header') %>

<h1><%= title %></h1>
<form action="/sneakers" method="POST">
  <label>Model
    <input type="text" name="model" value="<%= sneaker.model %>">
  </label>
  <label>Name
    <input type="text" name="name" value="<%= sneaker.name %>">
  </label>
  <label>Colorway
    <input type="text" name="color" value="<%= sneaker.color %>">
  </label>
  <label>Release Date
    <input type="text" name="release" value="<%= sneaker.release %>">
  </label>
  <label>Retail Price
    <input type="text" name="retail" value="<%= sneaker.retail %>">
  </label>
  <label>SKU Number
    <input type="text" name="sku" value="<%= sneaker.sku %>">
  </label>
  <label>Image URL
    <input type="text" name="image" value="<%= sneaker.image %>">
  </label>
  <button type="submit">Submit</button>
</form>

<%- include('../partials/footer') %>