<%- include('../partials/header') %>

<h1><%= title %></h1>
<form action="/sneakers/<%= sneaker.id %>?_method=PUT" method="POST" class="sneaker-form">
  <label>Model
    <input type="text" name="model" placeholder="Sneaker Brand & Model" value="<%= sneaker.model %>">
  </label>
  <label>Name
    <input type="text" name="name" placeholder="Sneaker Nickname" value="<%= sneaker.name %>">
  </label>
  <label>Colorway
    <input type="text" name="color" placeholder="Color Combination" value="<%= sneaker.color %>">
  </label>
  <label>Release Date
    <input type="date" name="release" value="<%= sneaker.release %>">
  </label>
  <label>Retail Price
    <input type="number" name="retail" placeholder="0" value="<%= sneaker.retail %>">
  </label>
  <label>SKU Number
    <input type="text" name="sku" value="<%= sneaker.sku %>">
  </label>
  <label>Image URL
    <input type="text" name="image" placeholder="Link to image URL" value="<%= sneaker.image %>">
  </label>
  <div class="btn-container">
    <button type="submit" class="button">Submit</button>
    <button type="reset" class="button">Reset Form</button>
  </div>
</form>

<%- include('../partials/footer') %>