<%- include('../partials/head') %>

</head>

<%- include('../partials/header') %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Model</th>
      <th>Name</th>
      <th>Colorway</th>
      <th>Released</th>
    </tr>
  </thead>
  <tbody>
    <% sneakers.forEach((s) => { %>
    <tr>
      <td><img src="<%= s.image %>" alt="icon"></td>
      <td><a href="/sneakers/<%= s.id %>" class="open-details"><%= s.model %></a></td>
      <td><a href="/sneakers/<%= s.id %>" class="open-details"><%= s.name %></a></td>
      <td><%= s.color %></td>
      <td><%= s.release.toLocaleDateString('en-US', {year: 'numeric', month: 'numeric', day: 'numeric'}) %></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<a href="/sneakers/new" class="button alone">Add New Sneaker</a>
<%- include('../partials/footer') %>