<%- include('../partials/header') %>
<div class="detail">
  <h1><%= sneaker.model %></h1>
  <h1><%= sneaker.name %></h1>
  <img src="<%= sneaker.image %>" alt="<%= sneaker.model %> - <%= sneaker.name %> image">
  <h3><%= sneaker.color %></h3>
  <h3><%= sneaker.release.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric'}) %></h4>
  <h3>Original MSRP: $<%= sneaker.retail %></h3>
  <h3><%= sneaker.sku %></h3>
  <div class="btn-container">
    <a href="/sneakers/<%= sneaker.id %>/edit" class="button">Edit Sneaker</a>
    <form action="/sneakers/<%= sneaker.id %>?_method=DELETE" method="POST">
      <button type="submit" class="button">Delete Sneaker</button>
    </form>
  </div>
</div>
<%- include('../partials/footer') %>