<%- include('../partials/header') %>
<div class="detail">
  <h1><%= sneaker.model %></h1>
  <h1><%= sneaker.name %></h1>
  <img src="<%= sneaker.image %>" alt="<%= sneaker.model %> - <%= sneaker.name %> image">
  <h3><%= sneaker.color %></h3>
  <h3><%= sneaker.release.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric'}) %></h4>
  <h3>Original MSRP: $<%= sneaker.retail %></h3>
  <h3><%= sneaker.sku %></h3>
  <div class="btn-container">
    <a href="/sneakers/<%= sneaker.id %>/edit" class="button page-button">Edit Sneaker</a>
    <form>
      <button type="submit" class="button page-button" id="prompt-button">Delete Sneaker</button>
    </form>
    <div id="delete-prompt">
      <div class="delete-modal">
        <p>Are you sure you want to delete this sneaker?</p>
        <p>This can't be undone.</p>
        <div class="btn-container">
        <a class="button" id="cancel-button">Cancel</a>
          <form action="/sneakers/<%= sneaker.id %>?_method=DELETE" method="POST">
            <button type="submit" class="button page-button">Confirm Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>